
<div class="content <%= content.url_img ? 'grid-content': '' %>">
    <img class="content-img" src="<%= locals.content.url_img %>"/>
    <div>
        <h1><%= content.titulo %></h1>
        <h3><%= content.descricao %></h3>
        <p><%= content.guia ? 'Guia Necessario' : '' %></p>
    </div>
</div>