<!-- 
    Name: Footer Section
    Itens: Menu Cascade / Copright / Contact / Created By: / etc
-->
<footer>
    <div class="menu-bg">
        <div class="container">
            <ul>
                <li>
                    <a href="#">ATRAÇÕES</a>
                    <ul>
                        <li><a href="<%= locals.url %>/naturais">Naturais</a></li>
                        <li><a href="<%= locals.url %>/culturais">Culturais</a></li>
                        <li><a href="<%= locals.url %>/historicas">Históricas</a></li>
                        <li><a href="<%= locals.url %>/esportivas">Esportivas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">HOSPEDAGEM</a>
                    <ul>
                        <li><a href="<%= locals.url %>/campings">Camping</a></li>
                        <li><a href="<%= locals.url %>/pousadas">Pousada</a></li>
                        <li><a href="<%= locals.url %>/casas_aluguel">Aluguel de Casas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="<%= locals.url %>/restaurantes">BARES E RESTAURANTES</a>
                </li>
                <li>
                    <a href="<%= locals.url %>/como_chegar">COMO CHEGAR</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
