<div class="menu-bg">
    <nav class="menu">
        <a href="/">
            <div class="brand">
                <div class="pin-solid icon"></div>
                <p>Ilha do </br>Cardoso</p>
            </div>
        </a>
        <ul>
            <li>
                <a href="#">ATRAÇÕES</a>
                <ul>
                    <li><a href="<%= locals.url %>/naturais">Naturais</a></li>
                    <li><a href="<%= locals.url %>/culturais">Culturais</a></li>
                    <li><a href="<%= locals.url %>/historicas">Históricas</a></li>
                    <li><a href="<%= locals.url %>/esportivas">Esportivas</a></li>
                </ul>
            </li>
            <li>
                <a href="#">HOSPEDAGEM</a>
                <ul>
                    <li><a href="<%= locals.url %>/campings">Camping</a></li>
                    <li><a href="<%= locals.url %>/pousadas">Pousada</a></li>
                    <li><a href="<%= locals.url %>/casas">Casas e Quartos</a></li>
                </ul>
            </li>
            <li>
                <a href="<%= locals.url %>/restaurantes">BARES E RESTAURANTES</a>
            </li>
            <li>
                <a href="<%= locals.url %>/como_chegar">COMO CHEGAR</a>
            </li>
        </ul>
    </nav>
</div>
