<nav class="menu">
    <div class="brand">
        <div class="pin-solid icon"></div>
        <p>Ilha do </br>Cardoso</p>
    </div>
    <ul>
        <li>
            <a href="#">ATRAÇOES</a>
            <ul>
                <li><a href="<%= locals.url %>/praias">Praias</a></li>
                <li><a href="<%= locals.url %>/cachoeiras">Cachoeiras</a></li>
                <li><a href="<%= locals.url %>/historicas">Historicas</a></li>
                <li><a href="<%= locals.url %>/pesca_esportiva">Pesca esportiva</a></li>
                <li><a href="<%= locals.url %>/noturnas">Noturnas</a></li>
            </ul>
        </li>
        <li>
            <a href="#">HOSPEDAGEM</a>
            <ul>
                <li><a href="">Camping</a></li>
                <li><a href="">Pousada</a></li>
                <li><a href="">Aluguel de Casas</a></li>
            </ul>
        </li>
        <li>
            <a href="#">BARES E RESTAURANTES</a>
        </li>
        <li>
            <a href="#">CULTURA</a>
        </li>
        <li>
            <a href="#">ROTEIRO</a>
        </li>
    </ul>
</nav>