<nav class="menu">
    <div class="brand">
        <div class="pin-solid icon"></div>
        <p>Ilha do </br>Cardoso</p>
    </div>
    <ul>
        <li>
            <a href="#">ATRAÇOES</a>
            <ul>
                <li><a href="<%= locals.url %>/praias">Praias</a></li>
                <li><a href="<%= locals.url %>/cachoeiras">Cachoeiras</a></li>
                <li><a href="<%= locals.url %>/historicas">Historicas</a></li>
                <li><a href="<%= locals.url %>/pesca_esportiva">Pesca esportiva</a></li>
                <li><a href="<%= locals.url %>/noturnas">Noturnas</a></li>
            </ul>
        </li>
        <li>
            <a href="#">HOSPEDAGEM</a>
            <ul>
                <li><a href="<%= locals.url %>/campings">Camping</a></li>
                <li><a href="<%= locals.url %>/pousadas">Pousada</a></li>
                <li><a href="<%= locals.url %>/casas_aluguel">Aluguel de Casas</a></li>
            </ul>
        </li>
        <li>
            <a href="<%= locals.url %>/restaurantes">BARES E RESTAURANTES</a>
        </li>
        <li>
            <a href="<%= locals.url %>/cultura">CULTURA</a>
        </li>
        <li>
            <a href="<%= locals.url %>/como_chegar">ROTEIRO</a>
        </li>
    </ul>
</nav>