<%- include partials/head.ejs %>
<%- include partials/navbar.ejs %>
<% if(locals.data) { %>
    <div class="search-area">
        <input id="searchInput" type="text" value="<%= search %>"></input>
        <button>Search</button>
    </div>
    <div class="container grid-container">
        <div class="text">
            <% data && data.forEach((content) => { %>    
                <%- include('partials/content.ejs', {content:content}) %>
            <% }) %>
        </div>
        <div class="sidebar">
            <h2>Propaganda</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deleniti sapiente quidem officia accusantium, voluptatibus id beatae obcaecati quis veniam esse non? Esse ut earum qui ullam perspiciatis provident perferendis.</p>
            <a href="#">Click Here</a>
        </div>
    </div>
    <script>
            var timeout = null;
            document.getElementById("searchInput").addEventListener('input', (e) => {
        
                var pathlocation;
                if(location.pathname.slice(-1) === "/"){
                    pathlocation = location.pathname.substring(0, location.pathname.lastIndexOf('/'))
                }else{
                    pathlocation = location.pathname;
                }
                let newPath = `${pathlocation}/?search=${e.target.value}`  

        
                
                
                clearTimeout(timeout);
                timeout = setTimeout(function () {
                    window.location.href = `${newPath}`
                }, 2000);
            })
        </script>
<% } else { %>
    <div class="container">
        <ul class="geral--comunidades">
            <li>
                <span>
                    Marujá
                </span>
                <img src="https://firebasestorage.googleapis.com/v0/b/ilha-do-cardoso.appspot.com/o/Enseada%2FNova%20Enseada.jpg?alt=media&token=e5d44723-a180-4289-9088-c66ca56198d5" alt="">
            </li>
            <li>
                <span>
                    Nova Enseada da Baleia
                </span>
                <img src="https://firebasestorage.googleapis.com/v0/b/ilha-do-cardoso.appspot.com/o/Enseada%2FNova%20Enseada.jpg?alt=media&token=e5d44723-a180-4289-9088-c66ca56198d5" alt="">
            </li>
            <li>
                <span>
                    Núcleo Perequê
                </span>
                <img src="https://firebasestorage.googleapis.com/v0/b/ilha-do-cardoso.appspot.com/o/Enseada%2FNova%20Enseada.jpg?alt=media&token=e5d44723-a180-4289-9088-c66ca56198d5" alt="">
            </li>
            <li>
                <span>
                    Cambriú e Foles
                </span>
                <img src="https://firebasestorage.googleapis.com/v0/b/ilha-do-cardoso.appspot.com/o/Enseada%2FNova%20Enseada.jpg?alt=media&token=e5d44723-a180-4289-9088-c66ca56198d5" alt="">
            </li>
            <li>
                <span>
                    Pontal do leste
                </span>
                <img src="https://firebasestorage.googleapis.com/v0/b/ilha-do-cardoso.appspot.com/o/Enseada%2FNova%20Enseada.jpg?alt=media&token=e5d44723-a180-4289-9088-c66ca56198d5" alt="">
            </li>
        </ul>
    </div>
<% } %>
<%- include partials/footer_home.ejs %>
</body>
</html>