<%- include partials/head.ejs %>
<%- include partials/navbar.ejs %>
<% if(locals.data) { %>
    <div class="search-area">
        <input id="searchInput" type="text" value="<%= search %>"></input>
        <button>Search</button>
    </div>
    <div class="container">
        <div class="text">
            <% data && data.forEach((content) => { %>    
                <%- include('partials/content.ejs', {content:content}) %>
            <% }) %>
        </div>
        <div class="sidebar">
            <h2>Propaganda</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deleniti sapiente quidem officia accusantium, voluptatibus id beatae obcaecati quis veniam esse non? Esse ut earum qui ullam perspiciatis provident perferendis.</p>
            <a href="#">Click Here</a>
        </div>
    </div>
<% } %>
<%- include partials/footer_home.ejs %>
<script>
    var timeout = null;
    document.getElementById("searchInput").addEventListener('input', (e) => {

        const pathArray = e.target.baseURI.split('/');

        const newPath = pathArray[pathArray.length - 2] + '/' + pathArray[pathArray.length - 1] + '/' + `?search=${e.target.value}`
        console.log(pathArray)

        
        
        clearTimeout(timeout);
        timeout = setTimeout(function () {
            window.location.href = `/${newPath}`
        }, 2000);
    })
</script>
</body>
</html>