<%- include partials/head.ejs %>
<%- include('partials/navbar_home.ejs') %>
<%- include partials/box-imgs.ejs %>
<%- include('partials/content_home.ejs', {data}) %>
<%- include partials/footer_home.ejs %>
</body>
</html>